$font_size: 16px;

$font_color_prime: #000;
$font_color_second: #fff;
$font_color_sub: #2c3e50;

$primary: #090909;
$secondary: #1a1831;

$retro_accent_danger: #ff5959;
$retro_accent_warning: #ffad5a;
$retro_accent_success: #1abb9c;
$retro_accent_info: #88e1f2;

$header_background: $primary;

$header_accent_1: #ff5959;
$header_accent_2: #ffad5a;
$header_accent_3: #1abb9c;
$header_accent_4: #88e1f2;

$footer_banner_bg: $retro_accent_success;

$highlight_color: $retro_accent_success;

$retro_button_font_color: $font_color_second;